.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  }

  .end {
    flex-basis: 100%;
    align-items: center;
  }
  
  .btn {
    margin: auto;
    text-align: center;
    width: 150px;
    display: block;
    background-color: var(--green);
    padding: 12px 20px;
    border: 1;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }